---

---

<nav class="flex justify-center items-center h-[80px]">
  <div class="container flex justify-between h-full">
    <div class="flex items-center gap-4 relative">
      <img
        src="/assets/logos/logo.png"
        alt="logo"
        class="h-[70%] w-auto bg-black p-3 rounded-full ring-2 ring-accent"
      />
      <p class="text-2xl font-bold">Portfolio</p>
    </div>
    <div class="flex items-center h-full gap-16">
      <!-- <ul class="flex gap-8 bg-blue-800">
        <li>Blogs</li>
        <li>Github</li>
      </ul> -->
      <button class="link-button">Blogs</button>
      <button class="link-button">GitHub</button>
      <button
        class="contact-button flex whitespace-nowrap text-xl rounded-md p-2 px-8 bg-primary"
        >Contact Me</button
      >
    </div>
  </div>
</nav>

<style>
  .contact-button {
    font-size: 18px;
    border: 2px solid #ff7e33;
    color: white;
    padding: 0.6em 1.8em;
    display: flex;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
  }

  .link-button {
    font-size: 18px;
    color: black;
    display: flex;
    align-items: center;
    border-radius: 8px;
  }
</style>
