---
import Marquee from "../../components/Marquee.astro"
---

<div class="h-screen bg-accent rounded-t-[100px]">
  <div class="absolute right-0 w-full h-16 bg-[#171424] -z-10"></div>
  <div class="h-full w-full flex flex-col ">
    <div
    class="text-8xl text-[#171424] font-medium h-[38%] flex justify-center items-center relative z-10"
    >
    My Tech Stack
  </div>
  <div class="w-full">
    <Marquee />
  </div>
  </div>
</div>


