---
import TextEffect from "../../components/TextEffect.astro";
---

<div class="h-[115vh] bg-[#2A233E] pt-24 flex justify-center text-white">
  <div class="w-full h-full container flex">
    <div class="w-1/4">
      <TextEffect />
    </div>
    <div class="w-3/4 h-full flex justify-center items-center">
      <div class="w-full h-full flex justify-center items-center relative">
        <!-- X-Axis -->
        <div
          class="absolute w-px h-[70%] bg-gray-400/40 left-1/2 transform -translate-x-1/2"
        >
        </div>
        <!-- Y-Axis -->
        <div
          class="absolute h-px w-[70%] bg-gray-400/40 top-1/2 transform -translate-y-1/2"
        >
        </div>

        <!-- Quadrant 1 -->
        <div
          class="absolute top-0 right-0 w-1/2 h-1/2 flex items-center justify-center"
        >
          <div class="text-center flex flex-col">
            <img
              src="/assets/about/icons8-coding-50.png"
              alt="coding"
              class="w-12"
            />
            <p>Your Text for Quadrant 1</p>
          </div>
        </div>

        <!-- Quadrant 2 -->
        <div
          class="absolute top-0 left-0 w-1/2 h-1/2 flex items-center justify-center"
        >
          <div class="text-center">
            <p>Your Text for Quadrant 2</p>
          </div>
        </div>

        <!-- Quadrant 3 -->
        <div
          class="absolute bottom-0 left-0 w-1/2 h-1/2 flex items-center justify-center"
        >
          <div class="text-center">
            <p>Your Text for Quadrant 3</p>
          </div>
        </div>

        <!-- Quadrant 4 -->
        <div
          class="absolute bottom-0 right-0 w-1/2 h-1/2 flex items-center justify-center"
        >
          <div class="text-center">
            <p>Your Text for Quadrant 4</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
